<div class="search-form mt-4">
    <form method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa..." >
        </div>
        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <select name="gender" class="form-control" id="search-input">
                <option value="">--chon goi tinh</option>
                <option value="male">nam</option>
                <option value="famale">nu</option>
            </select>
        </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>